@tailwind base;

:root {
  --primary: rgb(255, 253, 253);
  --secondary: rgb(83, 143, 255);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

/* *::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 3px;
} */

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 2px;
  /* border: 1px solid var(--primary); */
}

@tailwind components;
@tailwind utilities;
