@tailwind base;

:root {
  --primary: rgb(255, 253, 253);
  --secondary: rgb(32, 50, 83);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 8px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;
